 <div class="col-6">
  <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{ this.firstname}}" placeholder=" First Name" name="first_name">
      <label for="floadtingInput"> First Name</label>
  </div>
 </div>
 <div class="col-6">
  <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{ this.lastname}}"  placeholder=" Last Name" name="last_name">
      <label for="floadtingInput"> Last Name</label>
  </div>
 </div> 
 <div class="col-6">
  <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{ this.email}}" placeholder="Email" name="Email">
      <label for="floadtingInput"> Email </label>
  </div>
 </div>
 <div class="col-6">
  <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{ this.mobile}}" placeholder="Mobile" name="moile">
      <label for="floadtingInput">Mobile</label>
  </div>
 </div>
 <div class="col-12 d-grid">
     <button class="btn btn-primary" type="submit"> Submit </button>
 </div>